@model CatalogoLibros.Models.Libro

<h2>Detalle del Libro</h2>
<div>
    <img src="@Model.UrlImagen" alt="Portada de @Model.titulo" width="80" />
    <p><strong>Título:</strong> @Model.titulo</p>
    <p><strong>Año:</strong> @Model.anioPublicacion</p>
    <p><strong>Autor:</strong> @Model?.autor?.nombre</p>
	<p><strong>Sinopsis:</strong> @Model?.sinopsis</p>
    <a asp-controller="Libro" asp-action="Index" class="btn btn-secondary">Volver al catalogo</a>
</div>
