@model CatalogoLibros.Models.Libro

<h2>Detalle del Libro</h2>
<div>
    <h3>@Model.titulo</h3>
    <table class="table">
        <tbody>
            <tr><td><img src="@Model.UrlImagen" alt="Portada de @Model.titulo" width="80" /></td></tr>
            <tr>
                <td><p><strong>Año:</strong> @Model.anioPublicacion</p></td>
                <td><p><strong>Autor:</strong> @Model?.autor?.nombre</p></td>
                <td><p><strong>Sinopsis:</strong> @Model?.sinopsis</p></td>
                <a asp-controller="Libro" asp-action="Index" class="btn btn-secondary">Volver al catalogo</a>
            </tr>
        </tbody>
	</table>
</div>
