@model List<CatalogoLibros.Models.Libro>

	<h1>Politica de privacidad</h1>
<p>
    Última actualización: 1 de mayo de 2025
</p><br>
<p>
    En CatalogoLibros, nos tomamos muy en serio la privacidad de nuestros usuarios. Esta Política de Privacidad describe cómo recopilamos, usamos y protegemos la información que proporcionas al utilizar nuestra aplicación de catálogo de libros.
 </p><br>

 <p> 
    <h3>1. Información que recopilamos</h3>
 </p>
 <p>
    Dependiendo del uso que hagas de la app, podemos recopilar la siguiente información:
 </p>

    Información personal: nombre, correo electrónico (si creas una cuenta).

    Datos de uso: libros visualizados, favoritos, búsquedas realizadas, entre otros.

    Datos del dispositivo: tipo de dispositivo, sistema operativo, versión de la app.<br>

<h3>2. Cómo usamos la información</h3>

    Usamos la información recopilada para:

    Brindarte acceso al catálogo de libros y sus funcionalidades.

    Personalizar tu experiencia.

    Mejorar y optimizar la App.

    Enviarte notificaciones relacionadas con novedades del catálogo (si aceptas recibirlas).<br />

<h3>3. Compartir información con terceros</h3>

    No compartimos tu información personal con terceros, excepto en los siguientes casos:

    Cuando sea requerido por ley o una orden judicial.

    Con proveedores de servicios que nos ayudan a operar la App (y están sujetos a estrictos acuerdos de confidencialidad).<br />

<h3>4. Almacenamiento y seguridad</h3>

    Tomamos medidas razonables para proteger tu información personal mediante medidas técnicas y organizativas adecuadas. No obstante, ningún sistema es completamente infalible.<br />
<h3>5. Tus derechos</h3>

    Tienes derecho a:

    Acceder a tus datos personales.

    Solicitar la corrección o eliminación de tus datos.

    Retirar tu consentimiento en cualquier momento (lo que puede afectar el funcionamiento de la App).

    Para ejercer estos derechos, puedes contactarnos en: legales@catalogolibros.com]<br />
<h3>6. Menores de edad</h3>

    La App no está dirigida a menores de 13 años. No recopilamos conscientemente información personal de menores.<br />
<h3>7. Cambios a esta política</h3>

    Podemos actualizar esta política en cualquier momento. Te notificaremos a través de la App o mediante otros medios apropiados.
    <br>
<h3>Contacto:</h3>

   <p> Si tienes preguntas sobre esta política de privacidad, puedes escribirnos a:
    info@catalogolibros.com]
</p>

<a asp-controller="Libro" asp-action="Index">Volver al catálogo</a>