@model List<CatalogoLibros.Models.Libro>

	<h1>Politica de privacidad</h1>
<p>En CatalogoLibros, nos comprometemos a proteger su privacidad. Esta política de privacidad describe cómo recopilamos, usamos y compartimos su información personal cuando utiliza nuestro sitio web.</p>