@{
    ViewData["Title"] = "Politica de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>
    1. Introducción
    Bienvenido a Catalogo de libros. Nos comprometemos a proteger su privacidad. Esta política explica cómo recopilamos, usamos y protegemos sus datos.
    2. Información que recopilamos

    Actualmente, nuestro sitio no recopila información personal de los usuarios, ya que solo funciona como un catálogo de libros de consulta pública.

    Sin embargo, podemos recopilar automáticamente algunos datos técnicos para mejorar el funcionamiento de la página, tales como:

    Dirección IP

    Tipo de navegador

    Fecha y hora de acceso

    Páginas visitadas

    Esta información es usada únicamente con fines estadísticos.
    3. Uso de la información

    La información recopilada se utiliza para:

    Mejorar la experiencia del usuario

    Analizar el rendimiento de la página

    Mantener la seguridad del sitio

    No vendemos, alquilamos ni compartimos su información personal con terceros.
    4. Cookies

    Este sitio puede utilizar cookies para mejorar la navegación. Usted puede configurar su navegador para rechazar cookies si lo prefiere.
    5. Enlaces a otros sitios

    Nuestro sitio puede contener enlaces a sitios externos. No somos responsables de las prácticas de privacidad de esos otros sitios.
    6. Cambios en esta política

    Podemos actualizar nuestra Política de Privacidad ocasionalmente. Publicaremos cualquier cambio en esta misma página.
    7. Contacto

    Si tiene preguntas sobre nuestra política de privacidad, puede contactarnos en: [contacto@catalogodelibros.com].
</p>
